.toggles {
}
.toggles__container {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 3em;
  gap: 0.5em;
}
.toggles__container > div {
  cursor: pointer;
}
.toggle-table {
}
.toggle-list {
}

.active {
  color: #cacaca;
}
